
* { 
    /* Selects all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section, article, aside, footer, header, nav {
    /*Legacy browsers*/
    display: block;
  }

body {
    background-color: #0D0D0D;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    width: 700px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-weight: normal;
    font-style: normal;
}
  
.name {
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 1.6em;
}

section {
    display: flex;
    background-color: #303030;
    padding: 20px 0;
    flex-direction: column;
    margin: auto;
}

header {
    display: flex;    
    background-color: #303030;
    margin: auto;
    padding: 30px;
    border-bottom: 2px solid #9CDCFE;
    flex-direction: column;
}

nav {
    display: flex;
    margin: auto;
    padding-top: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    background-color: #444444;
}

nav li a {
    display: flex;
    color: #999999;
    padding: 8px 16px;
    text-decoration: none;
    justify-content: center;

}

/* Change the link color on hover */
nav li a:hover {
    background-color: #555;
    color: white;
}

section ul {
    list-style-position: inside;
    margin-left: 20px;
}

.introduction, .skill-summary, .employment-history, .education, .interests {
    margin: 20px 60px;
}

/*Colour Scheme*/
p, ul {
    color: #ffffff;
}

h1 {
    color: #ffb24e;
    margin: 0 auto;
}

h2 {
    color: #4EC9B0;
}

h3 {
    color: #DCDCAA;
}

em {
    font-weight: bold;
    font-style: normal;
}
